.hero {
  // height: 100%;
  width: 100%;
  color: white;
  font-family: Moula;
  overflow-x: hidden;
  svg {
    display: none;
  }
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  main {
    height: 100vh;
    width: 100%;
    @include center;
    div {
      user-select: none;
      width: 100%;
      font-weight: 500;
      font-size: 4.5rem;
      letter-spacing: 0.045em;
      color: #ffffff;
      text-align: center;
    }
  }
  .info__container {
    height: 100vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .hero__info {
      height: 70%;
      // width: 40% ;
      padding: 1rem;
      h3 {
        font-weight: 500;
        font-size: 60px;
        letter-spacing: 0.045em;
      }
      p {
        padding: 2rem 0;
        font-weight: 300;
        font-size: 2rem;
        line-height: 34px;
        letter-spacing: 0.045em;
        color: #e6e1e1;
        max-width: 500px;
      }
      .lancer__container {
        display: flex;
        width: 300px;
        align-items: center;
        font-size: 30px;
        letter-spacing: 0.045em;
        justify-content: space-around;
        margin-top: 2rem;
        cursor: pointer;
        .elipse {
          height: 70px;
          width: 70px;
          position: relative;
          font-size: 3rem;
          font-weight: 200;
          @include center;
          svg {
            display: block !important;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.stagger {
  overflow: hidden;
  font-size: inherit;
  span {
    display: inline-block;
    transform: translateY(100%);
  }
}

@media screen and (max-width: 800px) {
  .hero {
    main {
      div {
        font-size: 2.5rem;
        padding: 0.2rem;
      }
    }
  }
}
